In [1]:
from math import sqrt
from scipy import stats
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from pydataset import data

### In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [2]:
df_iris = data("iris")

### print the first 3 rows

In [3]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

### print the number of rows and columns (shape)

In [4]:
df_iris.shape

(150, 5)

### print the column names

In [5]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

### print the data type of each column

In [6]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

### print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [7]:
df_iris.describe().T
# I do not believe we need to rescale because all of the data is structured in the same units

              count      mean       std  min  25%   50%  75%  max
Sepal.Length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
Sepal.Width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
Petal.Length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
Petal.Width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

### Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

In [8]:
df_excel = pd.read_excel(io = "/Users/jaredvahle/CodeUp-Datascience/classification-exercises/Spreadsheets_Exercises_Solutions.xlsx", sheet_name = 0)

In [9]:
df_excel.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,dependents_no_partners,yes_dependents_and_partners,Unnamed: 23,start_date,average_monthly_charges,validate_monthly_charges,contract_type_desc,phone_type_desc,internet_type_desc,Unnamed: 30
0,1371-DWPAZ,Female,0,Yes,Yes,0,1,2,Credit card (automatic),56.05,...,0.0,1.0,3.0,2021-08-12,0.0,False,2 Year,No Phone Service,DSL,NaN
1,2520-SGTTA,Female,0,Yes,Yes,1,0,2,Mailed check,20.00,...,NaN,NaN,NaN,2021-08-12,0.0,False,2 Year,One Line,No Internet Service,NaN
2,2775-SEFEE,Male,0,No,Yes,2,1,2,Bank transfer (automatic),61.90,...,NaN,NaN,NaN,2021-08-12,0.0,False,2 Year,Two or More Lines,DSL,NaN
3,2923-ARZLG,Male,0,Yes,Yes,1,0,1,Mailed check,19.70,...,NaN,NaN,NaN,2021-08-12,0.0,False,1 Year,One Line,No Internet Service,NaN
4,3115-CZMZD,Male,0,No,Yes,1,0,2,Mailed check,20.25,...,NaN,NaN,NaN,2021-08-12,0.0,False,2 Year,One Line,No Internet Service,NaN

### assign the first 100 rows to a new dataframe, df_excel_sample

In [10]:
df_excel_sample = df_excel.head(100)

In [11]:
df_excel_sample

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,dependents_no_partners,yes_dependents_and_partners,Unnamed: 23,start_date,average_monthly_charges,validate_monthly_charges,contract_type_desc,phone_type_desc,internet_type_desc,Unnamed: 30
0,1371-DWPAZ,Female,0,Yes,Yes,0,1,2,Credit card (automatic),56.05,...,0.0,1.0,3.0,2021-08-12 00:00:00.000,0.00,False,2 Year,No Phone Service,DSL,NaN
1,2520-SGTTA,Female,0,Yes,Yes,1,0,2,Mailed check,20.00,...,NaN,NaN,NaN,2021-08-12 00:00:00.000,0.00,False,2 Year,One Line,No Internet Service,NaN
2,2775-SEFEE,Male,0,No,Yes,2,1,2,Bank transfer (automatic),61.90,...,NaN,NaN,NaN,2021-08-12 00:00:00.000,0.00,False,2 Year,Two or More Lines,DSL,NaN
3,2923-ARZLG,Male,0,Yes,Yes,1,0,1,Mailed check,19.70,...,NaN,NaN,NaN,2021-08-12 00:00:00.000,0.00,False,1 Year,One Line,No Internet Service,NaN
4,3115-CZMZD,Male,0,No,Yes,1,0,2,Mailed check,20.25,...,NaN,NaN,NaN,2021-08-12 00:00:00.000,0.00,False,2 Year,One Line,No Internet Service,NaN
5,3213-VVOLG,Male,0,Yes,Yes,2,0,2,Mailed check,25.35,...,NaN,NaN,NaN,2021-08-12 00:00:00.000,0.00,False,2 Year,Two or More Lines,No Internet Service,NaN
6,4075-WKNIU,Female,0,Yes,Yes,2,1,2,Mailed check,73.35,...,NaN,NaN,NaN,2021-08-12 00:00:00.000,0.00,False,2 Year,Two or More Lines,DSL,NaN
7,4367-NUYAO,Male,0,Yes,Yes,2,0,2,Mailed check,25.75,...,NaN,NaN,NaN,2021-08-12 00:00:00.000,0.00,False,2 Year,Two or More Lines,No Internet Service,NaN
8,4472-LVYGI,Female,0,Yes,Yes,0,1,2,Bank transfer (automatic),52.55,...,NaN,NaN,NaN,2021-08-12 00:00:00.000,0.00,False,2 Year,No Phone Service,DSL,NaN
9,5709-LVOEQ,Female,0,Yes,Yes,1,1,2,Mailed check,80.85,...,NaN,NaN,NaN,2021-08-12 00:00:00.000,0.00,False,2 Year,One Line,DSL,NaN
10,7644-OMVMY,Male,0,Yes,Yes,1,0,2,Mailed check,19.85,...,NaN,NaN,NaN,2021-08-12 00:00:00.000,0.00,False,2 Year,One Line,No Internet Service,NaN
11,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,...,NaN,NaN,NaN,2020-11-09 21:43:43.104,65.60,True,1 Year,One Line,DSL,NaN
12,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,...,NaN,NaN,NaN,2020-11-09 13:46:58.656,59.90,True,Month-to-Month,Two or More Lines,DSL,NaN
13,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,...,NaN,NaN,NaN,2021-04-18 09:42:13.248,73.90,True,Month-to-Month,One Line,Fiber Optic,NaN
14,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,...,NaN,NaN,NaN,2020-07-23 19:16:50.304,98.00,True,Month-to-Month,One Line,Fiber Optic,NaN
15,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,...,NaN,NaN,NaN,2021-05-07 01:23:48.480,83.90,True,Month-to-Month,One Line,Fiber Optic,NaN
16,0013-MHZWF,Female,0,No,Yes,1,1,0,Credit card (automatic),69.40,...,NaN,NaN,NaN,2020-12-04 13:04:14.304,69.40,True,Month-to-Month,One Line,DSL,NaN
17,0013-SMEOE,Female,1,Yes,No,1,2,2,Bank transfer (automatic),109.70,...,NaN,NaN,NaN,2015-08-12 09:04:15.744,109.70,True,2 Year,One Line,Fiber Optic,NaN
18,0014-BMAQU,Male,0,Yes,No,2,2,2,Credit card (automatic),84.65,...,NaN,NaN,NaN,2016-04-27 15:13:30.432,84.65,True,2 Year,Two or More Lines,Fiber Optic,NaN
19,0015-UOCOJ,Female,1,No,No,1,1,0,Electronic check,48.20,...,NaN,NaN,NaN,2021-01-09 05:19:17.472,48.20,True,Month-to-Month,One Line,DSL,NaN
20,0016-QLJIS,Female,0,Yes,Yes,2,1,2,Mailed check,90.45,...,NaN,NaN,NaN,2016-02-16 11:14:05.568,90.45,True,2 Year,Two or More Lines,DSL,NaN
21,0017-DINOC,Male,0,No,No,0,1,2,Credit card (automatic),45.20,...,NaN,NaN,NaN,2017-01-29 05:01:43.392,45.20,True,2 Year,No Phone Service,DSL,NaN
22,0017-IUDMW,Female,0,Yes,Yes,2,2,2,Credit card (automatic),116.80,...,NaN,NaN,NaN,2015-08-01 17:18:44.640,116.80,True,2 Year,Two or More Lines,Fiber Optic,NaN
23,0018-NYROU,Female,0,Yes,No,1,2,0,Electronic check,68.95,...,NaN,NaN,NaN,2021-03-09 22:32:07.008,68.95,True,Month-to-Month,One Line,Fiber Optic,NaN
24,0019-EFAEP,Female,0,No,No,2,2,2,Bank transfer (automatic),101.30,...,NaN,NaN,NaN,2015-08-23 17:07:28.128,101.30,True,2 Year,Two or More Lines,Fiber Optic,NaN
25,0019-GFNTW,Female,0,No,No,0,1,2,Bank transfer (automatic),45.05,...,NaN,NaN,NaN,2016-11-17 11:34:57.504,45.05,True,2 Year,No Phone Service,DSL,NaN
26,0020-INWCK,Female,0,Yes,Yes,2,2,2,Credit card (automatic),95.75,...,NaN,NaN,NaN,2015-08-28 04:01:52.608,95.75,True,2 Year,Two or More Lines,Fiber Optic,NaN
27,0020-JDNXP,Female,0,Yes,Yes,0,1,1,Mailed check,61.25,...,NaN,NaN,NaN,2018-11-26 04:18:36.576,61.25,True,1 Year,No Phone Service,DSL,NaN
28,0021-IKXGC,Female,1,No,No,2,2,0,Electronic check,72.10,...,NaN,NaN,NaN,2021-07-12 13:59:59.712,72.10,True,Month-to-Month,Two or More Lines,Fiber Optic,NaN
29,0022-TCJCI,Male,1,No,No,1,1,1,Credit card (automatic),62.70,...,NaN,NaN,NaN,2017-11-26 19:16:56.352,62.70,True,1 Year,One Line,DSL,NaN
30,0023-HGHWL,Male,1,No,No,0,1,0,Electronic check,25.10,...,NaN,NaN,NaN,2021-07-12 13:59:59.712,25.10,True,Month-to-Month,No Phone Service,DSL,NaN
31,0023-UYUPN,Female,1,Yes,No,2,0,1,Electronic check,25.20,...,NaN,NaN,NaN,2017-04-18 06:46:11.712,25.20,True,1 Year,Two or More Lines,No Internet Service,NaN
32,0023-XUOPT,Female,0,Yes,No,2,2,0,Electronic check,94.10,...,NaN,NaN,NaN,2020-07-15 01:44:03.264,94.10,True,Month-to-Month,Two or More Lines,Fiber Optic,NaN
33,0027-KWYKW,Female,0,Yes,Yes,2,2,0,Electronic check,83.75,...,NaN,NaN,NaN,2019-10-10 03:03:45.504,83.75,True,Month-to-Month,Two or More Lines,Fiber Optic,NaN
34,0030-FNXPP,Female,0,No,No,1,0,0,Mailed check,19.85,...,NaN,NaN,NaN,2021-05-16 08:25:23.808,19.85,True,Month-to-Month,One Line,No Internet Service,NaN
35,0031-PVLZI,Female,0,Yes,Yes,1,0,0,Mailed check,20.35,...,NaN,NaN,NaN,2021-04-19 21:09:17.280,20.35,True,Month-to-Month,One Line,No Internet Service,NaN
36,0032-PGELS,Female,0,Yes,Yes,0,1,0,Bank transfer (automatic),30.50,...,NaN,NaN,NaN,2021-07-12 13:59:59.712,30.50,True,Month-to-Month,No Phone Service,DSL,NaN
37,0036-IHMOT,Female,0,Yes,Yes,1,2,1,Bank transfer (automatic),103.70,...,NaN,NaN,NaN,2017-01-25 19:05:54.528,103.70,True,1 Year,One Line,Fiber Optic,NaN
38,0040-HALCW,Male,0,Yes,Yes,1,0,2,Credit card (automatic),20.40,...,NaN,NaN,NaN,2017-02-27 21:37:38.496,20.40,True,2 Year,One Line,No Internet Service,NaN
39,0042-JVWOJ,Male,0,No,No,1,0,1,Bank transfer (automatic),19.60,...,NaN,NaN,NaN,2019-08-10 17:59:41.856,19.60,True,1 Year,One Line,No Internet Service,NaN
40,0042-RLHYP,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),19.70,...,NaN,NaN,NaN,2015-09-16 04:42:01.440,19.70,True,2 Year,One Line,No Internet Service,NaN
41,0048-LUMLS,Male,0,Yes,Yes,1,2,1,Credit card (automatic),91.20,...,NaN,NaN,NaN,2018-08-24 21:21:23.040,91.20,True,1 Year,One Line,Fiber Optic,NaN
42,0048-PIHNL,Female,0,Yes,No,1,0,1,Bank transfer (automatic),20.45,...,NaN,NaN,NaN,2017-12-11 00:44:00.384,20.45,True,1 Year,One Line,No Internet Service,NaN
43,0052-DCKON,Male,0,Yes,No,2,2,1,Bank transfer (automatic),115.80,...,NaN,NaN,NaN,2015-11-25 20:54:21.312,115.80,True,1 Year,Two or More Lines,Fiber Optic,NaN
44,0052-YNYOT,Female,0,No,No,1,0,1,Electronic check,20.55,...,NaN,NaN,NaN,2016-03-02 14:14:53.088,20.55,True,1 Year,One Line,No Internet Service,NaN
45,0056-EPFBG,Male,0,Yes,Yes,0,1,2,Credit card (automatic),39.40,...,NaN,NaN,NaN,2019-11-13 19:03:20.736,39.40,True,2 Year,No Phone Service,DSL,NaN
46,0057-QBUQH,Female,0,No,Yes,2,0,2,Electronic check,25.10,...,NaN,NaN,NaN,2018-01-23 04:06:55.872,25.10,True,2 Year,Two or More Lines,No Internet Service,NaN
47,0058-EVZWM,Female,0,Yes,No,2,2,0,Bank transfer (automatic),89.80,...,NaN,NaN,NaN,2017-01-05 02:32:20.256,89.80,True,Month-to-Month,Two or More Lines,Fiber Optic,NaN
48,0060-FUALY,Female,0,Yes,No,2,2,0,Electronic check,94.75,...,NaN,NaN,NaN,2016-09-10 00:59:12.768,94.75,True,Month-to-Month,Two or More Lines,Fiber Optic,NaN
49,0064-SUDOG,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),20.30,...,NaN,NaN,NaN,2020-09-09 14:50:50.496,20.30,True,2 Year,One Line,No Internet Service,NaN
50,0064-YIJGF,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),75.75,...,NaN,NaN,NaN,2019-06-29 10:17:49.056,75.75,True,Month-to-Month,Two or More Lines,Fiber Optic,NaN
51,0067-DKWBL,Male,1,No,No,1,1,0,Electronic check,49.25,...,NaN,NaN,NaN,2021-06-16 17:41:07.296,49.25,True,Month-to-Month,One Line,DSL,NaN
52,0068-FIGTF,Female,0,No,No,1,1,1,Mailed check,78.20,...,NaN,NaN,NaN,2019-05-26 08:55:19.200,78.20,True,1 Year,One Line,DSL,NaN
53,0071-NDAFP,Male,0,Yes,Yes,2,0,2,Credit card (automatic),25.50,...,NaN,NaN,NaN,2019-07-21 19:31:46.272,25.50,True,2 Year,Two or More Lines,No Internet Service,NaN
54,0074-HDKDG,Male,0,Yes,Yes,1,1,1,Bank transfer (automatic),61.60,...,NaN,NaN,NaN,2019-06-08 12:36:13.824,61.60,True,1 Year,One Line,DSL,NaN
55,0076-LVEPS,Male,0,No,Yes,0,1,0,Mailed check,45.00,...,NaN,NaN,NaN,2019-04-25 04:41:59.712,45.00,True,Month-to-Month,No Phone Service,DSL,NaN
56,0078-XZMHT,Male,0,Yes,No,2,1,2,Bank transfer (automatic),85.15,...,NaN,NaN,NaN,2015-06-08 18:32:45.600,85.15,True,2 Year,Two or More Lines,DSL,NaN
57,0080-EMYVY,Female,0,No,No,1,1,1,Credit card (automatic),51.45,...,NaN,NaN,NaN,2020-06-07 16:52:35.616,51.45,True,1 Year,One Line,DSL,NaN
58,0080-OROZO,Female,0,No,No,1,2,1,Electronic check,99.25,...,NaN,NaN,NaN,2018-08-25 13:33:42.048,99.25,True,1 Year,One Line,Fiber Optic,NaN
59,0082-LDZUE,Male,0,No,No,1,1,0,Mailed check,44.30,...,NaN,NaN,NaN,2021-07-12 13:59:59.712,44.30,True,Month-to-Month,One Line,DSL,NaN
60,0082-OQIQY,Male,0,No,No,1,2,0,Electronic check,94.20,...,NaN,NaN,NaN,2019-04-23 00:29:02.688,94.20,True,Month-to-Month,One Line,Fiber Optic,NaN
61,0083-PIVIK,Male,0,No,No,2,1,1,Electronic check,81.25,...,NaN,NaN,NaN,2015-11-27 17:42:16.416,81.25,True,1 Year,Two or More Lines,DSL,NaN
62,0089-IIQKO,Female,0,Yes,Yes,2,2,0,Credit card (automatic),99.95,...,NaN,NaN,NaN,2018-06-22 12:13:19.200,99.95,True,Month-to-Month,Two or More Lines,Fiber Optic,NaN
63,0093-EXYQL,Female,1,No,No,1,2,0,Electronic check,91.55,...,NaN,NaN,NaN,2018-04-09 11:30:14.976,91.55,True,Month-to-Month,One Line,Fiber Optic,NaN
64,0093-XWZFY,Male,0,No,No,2,2,0,Credit card (automatic),104.50,...,NaN,NaN,NaN,2018-05-24 23:59:42.720,104.50,True,Month-to-Month,Two or More Lines,Fiber Optic,NaN
65,0094-OIFMO,Female,1,No,No,1,2,0,Electronic check,95.00,...,NaN,NaN,NaN,2020-08-18 07:22:44.544,95.00,True,Month-to-Month,One Line,Fiber Optic,NaN
66,0096-BXERS,Female,0,Yes,No,2,1,0,Electronic check,50.35,...,NaN,NaN,NaN,2021-02-02 23:29:36.960,50.35,True,Month-to-Month,Two or More Lines,DSL,NaN
67,0096-FCPUF,Male,0,No,No,2,1,0,Mailed check,64.50,...,NaN,NaN,NaN,2019-03-05 10:50:41.568,64.50,True,Month-to-Month,Two or More Lines,DSL,NaN
68,0098-BOWSO,Male,0,No,No,1,0,0,Electronic check,19.40,...,NaN,NaN,NaN,2019-05-04 08:13:36.192,19.40,True,Month-to-Month,One Line,No Internet Service,NaN
69,0100-DUVFC,Male,1,Yes,No,2,2,1,Electronic check,104.80,...,NaN,NaN,NaN,2015-10-21 16:25:14.880,104.80,True,1 Year,Two or More Lines,Fiber Optic,NaN
70,0103-CSITQ,Female,0,Yes,No,2,2,1,Bank transfer (automatic),109.40,...,NaN,NaN,NaN,2016-11-07 13:13:48.864,109.40,True,1 Year,Two or More Lines,Fiber Optic,NaN
71,0104-PPXDV,Male,0,Yes,No,1,1,1,Credit card (automatic),50.30,...,NaN,NaN,NaN,2016-11-05 07:49:37.632,50.30,True,1 Year,One Line,DSL,NaN
72,0106-GHRQR,Male,0,No,No,2,1,0,Bank transfer (automatic),71.40,...,NaN,NaN,NaN,2020-03-13 15:22:51.168,71.40,True,Month-to-Month,Two or More Lines,DSL,NaN
73,0106-UGRDO,Female,0,Yes,No,2,2,2,Electronic check,116.00,...,NaN,NaN,NaN,2015-09-27 08:28:42.528,116.00,True,2 Year,Two or More Lines,Fiber Optic,NaN
74,0107-WESLM,Male,0,No,No,1,0,0,Electronic check,19.85,...,NaN,NaN,NaN,2021-07-12 13:59:59.712,19.85,True,Month-to-Month,One Line,No Internet Service,NaN
75,0107-YHINA,Male,0,No,Yes,2,2,0,Electronic check,99.75,...,NaN,NaN,NaN,2021-07-12 13:59:59.712,99.75,True,Month-to-Month,Two or More Lines,Fiber Optic,NaN
76,0111-KLBQG,Male,1,Yes,Yes,1,2,0,Mailed check,93.95,...,NaN,NaN,NaN,2019-01-28 14:16:28.992,93.95,True,Month-to-Month,One Line,Fiber Optic,NaN
77,0112-QAWRZ,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),90.80,...,NaN,NaN,NaN,2020-04-15 21:13:13.152,90.80,True,Month-to-Month,Two or More Lines,Fiber Optic,NaN
78,0112-QWPNC,Male,0,Yes,No,2,1,1,Electronic check,84.35,...,NaN,NaN,NaN,2017-08-09 04:41:45.024,84.35,True,1 Year,Two or More Lines,DSL,NaN
79,0114-IGABW,Female,0,Yes,No,0,1,2,Bank transfer (automatic),58.25,...,NaN,NaN,NaN,2015-09-08 02:47:54.240,58.25,True,2 Year,No Phone Service,DSL,NaN
80,0114-PEGZZ,Female,0,No,No,2,2,0,Electronic check,107.55,...,NaN,NaN,NaN,2018-10-16 00:01:13.440,107.55,True,Month-to-Month,Two or More Lines,Fiber Optic,NaN
81,0114-RSRRW,Female,0,Yes,No,1,0,0,Bank transfer (automatic),19.95,...,NaN,NaN,NaN,2020-10-29 17:56:59.424,19.95,True,Month-to-Month,One Line,No Internet Service,NaN
82,0115-TFERT,Male,0,Yes,No,2,2,0,Electronic check,111.20,...,NaN,NaN,NaN,2019-11-17 04:49:18.624,111.20,True,Month-to-Month,Two or More Lines,Fiber Optic,NaN
83,0117-LFRMW,Male,0,Yes,Yes,0,1,0,Bank transfer (automatic),40.20,...,NaN,NaN,NaN,2018-08-11 18:56:43.296,40.20,True,Month-to-Month,No Phone Service,DSL,NaN
84,0118-JPNOY,Female,1,No,No,1,2,0,Credit card (automatic),85.80,...,NaN,NaN,NaN,2019-06-26 08:04:41.376,85.80,True,Month-to-Month,One Line,Fiber Optic,NaN
85,0121-SNYRK,Male,0,No,No,0,1,1,Mailed check,35.40,...,NaN,NaN,NaN,2017-07-01 07:06:46.368,35.40,True,1 Year,No Phone Service,DSL,NaN
86,0122-OAHPZ,Female,0,No,No,2,2,0,Electronic check,73.85,...,NaN,NaN,NaN,2021-01-13 10:20:38.400,73.85,True,Month-to-Month,Two or More Lines,Fiber Optic,NaN
87,0123-CRBRT,Female,0,Yes,Yes,2,1,2,Mailed check,88.10,...,NaN,NaN,NaN,2016-05-21 21:08:10.752,88.10,True,2 Year,Two or More Lines,DSL,NaN
88,0125-LZQXK,Male,0,No,No,1,2,0,Electronic check,101.35,...,NaN,NaN,NaN,2020-05-02 15:16:00.768,101.35,True,Month-to-Month,One Line,Fiber Optic,NaN
89,0128-MKWSG,Female,0,No,Yes,0,1,0,Mailed check,45.80,...,NaN,NaN,NaN,2019-07-12 06:07:19.776,45.80,True,Month-to-Month,No Phone Service,DSL,NaN
90,0129-KPTWJ,Male,0,Yes,No,1,2,0,Electronic check,94.65,...,NaN,NaN,NaN,2015-09-04 16:12:59.616,94.65,True,Month-to-Month,One Line,Fiber Optic,NaN
91,0129-QMPDR,Male,0,Yes,Yes,1,0,1,Bank transfer (automatic),20.50,...,NaN,NaN,NaN,2018-02-05 11:46:49.440,20.50,True,1 Year,One Line,No Internet Service,NaN
92,0130-SXOUN,Male,0,No,No,2,2,0,Credit card (automatic),89.40,...,NaN,NaN,NaN,2016-01-17 11:20:08.448,89.40,True,Month-to-Month,Two or More Lines,Fiber Optic,NaN
93,0133-BMFZO,Female,0,No,No,1,2,0,Electronic check,86.25,...,NaN,NaN,NaN,2021-06-08 22:33:23.904,86.25,True,Month-to-Month,One Line,Fiber Optic,NaN
94,0134-XWXCE,Female,1,No,No,1,1,1,Bank transfer (automatic),74.85,...,NaN,NaN,NaN,2017-12-22 23:14:03.840,74.85,True,1 Year,One Line,DSL,NaN
95,0135-NMXAP,Female,0,No,No,2,2,0,Bank transfer (automatic),89.75,...,NaN,NaN,NaN,2020-08-20 08:05:21.120,89.75,True,Month-to-Month,Two or More Lines,Fiber Optic,NaN
96,0136-IFMYD,Male,1,Yes,No,2,2,2,Electronic check,109.95,...,NaN,NaN,NaN,2015-10-31 01:18:05.472,109.95,True,2 Year,Two or More Lines,Fiber Optic,NaN
97,0137-OCGAB,Female,0,No,No,2,2,0,Mailed check,80.20,...,NaN,NaN,NaN,2021-07-12 13:59:59.712,80.20,True,Month-to-Month,Two or More Lines,Fiber Optic,NaN
98,0137-UDEUO,Female,0,No,No,1,0,0,Mailed check,19.85,...,NaN,NaN,NaN,2021-05-06 07:32:29.472,19.85,True,Month-to-Month,One Line,No Internet Service,NaN
99,0139-IVFJG,Female,0,Yes,No,1,2,0,Electronic check,90.35,...,NaN,NaN,NaN,2021-06-08 20:49:08.544,90.35,True,Month-to-Month,One Line,Fiber Optic,NaN

### print the number of rows of your original dataframe

In [12]:
df_excel.shape

(7043, 31)

###  print the first 5 column names

In [13]:
df_excel_sample.columns[0:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

### print the column names that have a data type of object

In [14]:
df_excel.keys()

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents',
       'phone_service', 'internet_service', 'contract_type', 'payment_type',
       'monthly_charges', 'total_charges', 'churn', 'tenure', 'is_female',
       'has_churned', 'has_phone', 'has_internet', 'has_phone_and_internet',
       'partner_dependents', 'no_partners_no_dependents',
       'no_dependents_yes_partners', 'dependents_no_partners',
       'yes_dependents_and_partners', 'Unnamed: 23', 'start_date',
       'average_monthly_charges', 'validate_monthly_charges',
       'contract_type_desc', 'phone_type_desc', 'internet_type_desc',
       'Unnamed: 30'],
      dtype='object')

In [15]:
df_excel.dtypes

customer_id                            object
gender                                 object
is_senior_citizen                       int64
partner                                object
dependents                             object
phone_service                           int64
internet_service                        int64
contract_type                           int64
payment_type                           object
monthly_charges                       float64
total_charges                         float64
churn                                  object
tenure                                float64
is_female                                bool
has_churned                              bool
has_phone                                bool
has_internet                             bool
has_phone_and_internet                   bool
partner_dependents                      int64
no_partners_no_dependents             float64
no_dependents_yes_partners            float64
dependents_no_partners                float64
yes_dependents_and_partners           float64
Unnamed: 23                           float64
start_date                     datetime64[ns]
average_monthly_charges               float64
validate_monthly_charges                 bool
contract_type_desc                     object
phone_type_desc                        object
internet_type_desc                     object
Unnamed: 30                           float64
dtype: object

In [16]:
df_excel.select_dtypes(include = ["object"]).columns

Index(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
       'churn', 'contract_type_desc', 'phone_type_desc', 'internet_type_desc'],
      dtype='object')

### compute the range for each of the numeric variables.

In [17]:
only_numeric = df_excel.select_dtypes(include = ["float64"]).drop(axis = 1, labels = ["no_partners_no_dependents","no_dependents_yes_partners","dependents_no_partners","yes_dependents_and_partners","Unnamed: 23","Unnamed: 30"]).copy()

In [18]:
only_numeric

      monthly_charges  total_charges     tenure  average_monthly_charges
0               56.05            NaN   0.000000                     0.00
1               20.00            NaN   0.000000                     0.00
2               61.90            NaN   0.000000                     0.00
3               19.70            NaN   0.000000                     0.00
4               20.25            NaN   0.000000                     0.00
...               ...            ...        ...                      ...
7038            55.15         742.90  13.470535                    55.15
7039            85.10        1873.70  22.017626                    85.10
7040            50.30          92.75   1.843936                    50.30
7041            67.85        4627.65  68.204127                    67.85
7042            59.00        3707.60  62.840678                    59.00

[7043 rows x 4 columns]

In [19]:
numeric_values_range= only_numeric.apply(lambda x: x.max() - x.min())

In [20]:
numeric_values_range

monthly_charges             100.500000
total_charges              8666.000000
tenure                       79.341772
average_monthly_charges     118.750000
dtype: float64

### Read the data from this google sheet into a dataframe, df_google

In [39]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)

### print the first 3 rows

In [40]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

### print the number of rows and columns

In [41]:
df_google.shape

(891, 12)

### print the column names

In [42]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

### print the data type of each column

In [43]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

### print the summary statistics for each of the numeric variables

In [44]:
df_google.select_dtypes(include = ["int64","float64"]).describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

### print the unique values for each of your categorical variables

In [47]:
for column in df_google.select_dtypes(include = "object").columns:
    print(f"Values in the {column} column:")
    print(df_google[column].value_counts())
    print("------")
    print()

Values in the Name column:
Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)    1
Andersson, Master. Sigvard Harald Elias                1
Rosblom, Mrs. Viktor (Helena Wilhelmina)               1
Mitchell, Mr. Henry Michael                            1
Dooley, Mr. Patrick                                    1
                                                      ..
Fry, Mr. Richard                                       1
Blank, Mr. Henry                                       1
Williams, Mr. Leslie                                   1
Long, Mr. Milton Clyde                                 1
Yasbeck, Mr. Antoni                                    1
Name: Name, Length: 891, dtype: int64
------

Values in the Sex column:
male      577
female    314
Name: Sex, dtype: int64
------

Values in the Ticket column:
347082      7
CA. 2343    7
1601        7
3101295     6
347088      6
           ..
343275      1
113787      1
2680        1
349253      1
2664        1
Name: Ticket, Length: 681, dtype: int64
------

Values in the Cabin column:
B96 B98            4
G6                 4
C23 C25 C27        4
F33                3
E101               3
C22 C26            3
F2                 3
D                  3
E33                2
D35                2
C125               2
B20                2
C93                2
E44                2
E24                2
D26                2
E25                2
D17                2
B57 B59 B63 B66    2
F4                 2
E8                 2
B49                2
B5                 2
E67                2
C126               2
C65                2
C52                2
F G73              2
C123               2
D36                2
E121               2
D20                2
C68                2
B77                2
B51 B53 B55        2
B58 B60            2
C124               2
C78                2
B18                2
B35                2
D33                2
C92                2
B28                2
C83                2
B22                2
C2                 2
B69                1
D11                1
E77                1
D9                 1
C101               1
E36                1
E58                1
B30                1
C106               1
C87                1
F E69              1
D15                1
A24                1
B94                1
E34                1
C110               1
D30                1
B37                1
B102               1
D28                1
F38                1
E10                1
C62 C64            1
B73                1
C128               1
T                  1
D56                1
D49                1
D7                 1
C95                1
B82 B84            1
C91                1
D21                1
E38                1
B71                1
A5                 1
E68                1
A26                1
A10                1
A36                1
C103               1
F G63              1
B42                1
B4                 1
A16                1
A23                1
B38                1
A32                1
C49                1
B41                1
D48                1
C99                1
C86                1
D37                1
C47                1
A34                1
E31                1
C54                1
A14                1
A7                 1
C90                1
D6                 1
D47                1
B3                 1
E12                1
B101               1
C30                1
E49                1
D19                1
A20                1
E17                1
C85                1
C7                 1
A31                1
B50                1
E40                1
B79                1
C70                1
B39                1
C104               1
D50                1
B78                1
E50                1
C50                1
E63                1
C46                1
C45                1
C32                1
D45                1
D46                1
A6                 1
C118               1
C82                1
C148               1
B80                1
B19                1
A19                1
E46                1
C111               1
B86                1
D10 D12            1
Name: Cabin, dtype: int64
------

Values in the Embarked column:
S    644
C    168
Q     77
Name: Embarked, dtype: int64
------

In [27]:
df_google.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [28]:
df_google.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [29]:
df_google.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [30]:
df_google.SibSp.value_counts()

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

### Make a new python module, acquire.py to hold the following data aquisition functions:

In [31]:
import env
import os

def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

### Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

In [32]:
def get_titanic_data():
    filename = "titanic.csv"

    if os.path.isfile("titanic.csv"):
        return pd.read_csv("titanic.csv")
    else:
        # read the SQL query into a dataframe
        df = pd.read_sql('SELECT * FROM passengers', get_connection('titanic_db'))

        # Write that dataframe to disk for later. Called "caching" the data for later.
        df.to_csv("titanic.csv")

        # Return the dataframe to the calling code
        return df

In [33]:
get_titanic_data().head()

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

### Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

In [34]:
def get_iris_data():
    filename = "iris.csv"

    if os.path.isfile("iris.csv"):
        return pd.read_csv("iris.csv")
    else:
        # read the SQL query into a dataframe
        df = pd.read_sql('''
SELECT *
FROM species
JOIN measurements ON measurements.species_id = species.species_id;
''', get_connection('iris_db'))

        # Write that dataframe to disk for later. Called "caching" the data for later.
        df.to_csv("iris.csv")

        # Return the dataframe to the calling code
        return df

In [35]:
get_iris_data().head()

,Unnamed: 0,species_id,species_name,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id.1
0,0,1,setosa,1,5.1,3.5,1.4,0.2,1
1,1,1,setosa,2,4.9,3.0,1.4,0.2,1
2,2,1,setosa,3,4.7,3.2,1.3,0.2,1
3,3,1,setosa,4,4.6,3.1,1.5,0.2,1
4,4,1,setosa,5,5.0,3.6,1.4,0.2,1

### Once you've got your get_titanic_data and get_iris_data functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for a local filename like titanic.csv or iris.csv. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.

In [36]:
def get_titanic_data():
    filename = "titanic.csv"

    if os.path.isfile("titanic.csv"):
        return pd.read_csv("titanic.csv")
    else:
        # read the SQL query into a dataframe
        df = pd.read_sql('SELECT * FROM passengers', get_connection('titanic_db'))

        # Write that dataframe to disk for later. Called "caching" the data for later.
        df.to_csv("titanic.csv")

        # Return the dataframe to the calling code
        return df

In [37]:
def get_iris_data():
    filename = "iris.csv"

    if os.path.isfile("iris.csv"):
        return pd.read_csv("iris.csv")
    else:
        # read the SQL query into a dataframe
        df = pd.read_sql('''
SELECT *
FROM species
JOIN measurements ON measurements.species_id = species.species_id;
''', get_connection('iris_db'))

        # Write that dataframe to disk for later. Called "caching" the data for later.
        df.to_csv("iris.csv")

        # Return the dataframe to the calling code
        return df